.wrapper {
    margin-top: 60px;
}

.alert-info h2 {
    margin-top: 0;
}

.alert-info h2 a {
    font-size: 14px;
}

.panel {
    position: relative;
}

.panel .been {
    width: 75px;
    height: 75px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/been.png) no-repeat;
}

.panel-body {
    font-size: 12px;
}

.list .panel-body {
}

.list a {
    color: #333;
}

.list a:hover {
    color: #333;
    text-decoration: none;
}

img {
    margin: 0 5px 5px 0;
    max-width: 100%;
}