<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse"
                    data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">游遍广州——{{scene.sname}}</a>
        </div>

        <div class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://wenzhixin.net.cn">文翼的博客</a></li>
                <li><a href="http://repos.wenzhixin.net.cn">个人开源项目</a></li>
                <li><a href="http://books.wenzhixin.net.cn">我的藏书</a></li>
                <!-- <li><a href="http://travels.wenzhixin.net.cn">游遍广州</a></li> -->
                <li><a href="http://wenzhixin.net.cn/about">关于我</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper" sroll-top-directive>
    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">简介</div>
                <div class="panel-body">
                    <div>
                        <img ng-src="{{scene.pic_url}}" align="left" />
                        <span ng-bind-html="scene.introduction | htmlFilter"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">门票和开放时间</div>
                <div class="panel-body">
                    <div ng-hide="scene.tickets.length">无</div>
                    <div ng-repeat="ticket in scene.tickets">{{ticket}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">交通</div>
                <div class="panel-body">
                    <div ng-hide="scene.traffics.length">无</div>
                    <div ng-repeat="traffic in scene.traffics">
                        <h5>{{traffic.name}}</h5>
                        <div ng-bind-html="traffic.desc | htmlFilter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
